<!-- eslint-disable vue/multi-word-component-names -->
<script>
  import {request} from "@/service/http";

  export default {
    data() {
        return {
            error: [],
            loading: false,
            loading_kota: false,
            loading_kategory: false,
            loading_calculator: false,
            Origin: null,
            Product: [],
            provinci: [],
            city: [],

            id_provinci: 0,
            id_country: 0,
            id_category: 0,
            id_destination: {},
            weight: 0,

            result: {
              category_name: "",
              destination: "",
              domestic_price: 0,
              international_price: "",
              origin: {
                name: "", 
                flag: ""
              },
              total_price: 0
            }
        }
    },
    methods: {
      
        FormCheck() {
            if ( this.id_provinci && this.id_country && this.id_category && this.id_destination && this.weight) {
                this.error = [];
                return this.Calculate();
            }
            this.error = [];

            if (!this.id_country) {
                this.error.push('Country is required.');
            }
            if (!this.id_provinci) {
                this.error.push('Provinci is required.');
            }
            if (!this.id_destination) {
                this.error.push('Destinasi is required.');
            }
            if (!this.id_category) {
                this.error.push('Product is required.');
            }
            if (!this.weight) {
                this.error.push('Weight is required.');
            }
        },

        formatCurrency(value) {
            if (!value) return '';
            return new Intl.NumberFormat('id-ID', {
              style: 'currency',
              currency: 'IDR'
          }).format(value);
        },

        City: async function() {
          this.loading_kota = true;
          const req = await request(`city?province=${this.id_provinci}`, 'GET')
          if (req) {
            this.city = req.data.rajaongkir.results
          }
          this.loading_kota = false;
        },

        Category: async function() {
          this.loading_kategory =  true;
          const req = await request(`categories?country_id=${this.id_country}`, 'GET')
          if (req) {
            this.Product = req.data
          }
          this.loading_kategory = false;
        },

        Calculate: async function() {
          this.loading_calculator = true;
          const payload = {
            'country_id': this.id_country,
            'category_id': this.id_category,
            'destination_id': this.id_destination.slice(0, -1),
            'city_id': this.id_destination[this.id_destination.length -1],
            'weight': this.weight
          }

          const req = await request(`calculate/`, 'POST', payload)
          if (req) {
            this.result = req.data
          }
          this.loading_calculator = false;
        }

    },
    async created() {
      const req = await request('countries', 'GET')
      if (req) {
        this.Origin = req.data
      }
      const provinci = await request('provinci', 'GET')
      if (req) {
        this.provinci = provinci.data.rajaongkir.results
      }
    }
  }
</script>

<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <h6>Freight Calculator</h6>
          </div>
          <div class="card-body">
            <div class="alert alert-danger"
                v-if="error.length"
                color="#B71C1C"
                >
                <b>Please correct the following error(s):</b>
                <ul>
                <li v-for="err in error" :key="err">{{ err }}</li>
                </ul>
            </div>
            <form action="" method="post">
                <div class="form-group">
                  <label for="">Origin</label>
                  <div class="mt-2">
                    <select class="form-control" v-model="id_country" @change="Category" >
                      <option selected>Pilih</option>
                      <option v-for="origin in Origin" :value="origin.id" :key="origin.country_name">
                        {{ origin.country_name }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <label for="">Provinsi</label>
                  <div class="mt-2">
                    <select class="form-control" v-model="id_provinci" @change="City">
                      <option selected>Pilih</option>
                      <option v-for="prov in provinci" :value="prov.province_id" :key="prov.province">
                        {{ prov.province }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <label for="">Destination Kota</label>
                  <div class="mt-3" v-if="loading_kota">
                    <select class="form-control" disabled="true">
                      <option selected>Pilih</option>
                      <option v-for="kota in city" :value="kota.city_id" :key="kota.province">
                        {{ kota.type }}, {{ kota.city_name }}, {{ kota.province }}, {{ kota.postal_code }}
                      </option>
                    </select>
                  </div>
                  <div class="mt-2" v-else>
                    <select class="form-control" v-model="id_destination">
                      <option selected>Pilih</option>
                      <option v-for="kota in city" :value="[kota.type, kota.city_name, kota.province, kota.postal_code, kota.city_id]" :key="kota.province">
                        {{ kota.type }}, {{ kota.city_name }}, {{ kota.province }}, {{ kota.postal_code }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <label for="">Product Category</label>
                  <div class="mt-2" v-if="loading_kategory">
                    <select class="form-control" disabled>
                      <option value="">indonesia</option>
                    </select>
                  </div>
                  <div class="mt-2" v-else>
                    <select class="form-control" v-model="id_category">
                      <option selected>Pilih</option>
                      <option v-for="prod in Product" :value="prod.id" :key="prod.title">
                        {{ prod.title }} 
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group mt-3">
                  <label for="">Total Weight</label>
                  <div class="mt-2">
                    <div class="row">
                      <div class="col-md-8">
                        <input type="number"  class="form-control" v-model="weight" />
                      </div>
                      <div class="col-md-4">
                        <select name="" id="" class="form-control">
                          <option value="">KG</option>
                          <option value="">LBS</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-3 d-grid gap-2">
                  <button type="button" @click="FormCheck" class="btn btn-primary btn-block" value="Calculate">Calculate</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body" v-if="result.origin.name">
            <div class="row">
              <div class="col-xl-4">
                <div class="mr-3">
                  <span style="margin-right: 200px;">Origin</span>
                </div>
                <div class="ml-3 d-flex gap-2">
                  <div>
                    <strong>{{ result.origin.name }}</strong>
                  </div>
                  <div>
                    <img v-if="result.origin.flag" class="border border-dark" :src="'https://oktakun.my.id' + result.origin.flag" width="50" height="50"/>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="mr-3">
                  <span style="margin-right: 200px;">Destination</span>
                </div>
                <div class="ml-3">
                  <strong>{{ result.destination }}</strong>
                </div>
              </div>
            </div>
            <hr>

            <div>
              <div>
                <span>Internation Shipping Price</span>
              </div>
              <div>
                <strong>{{ formatCurrency(result.international_price) }}</strong>
              </div>
            </div>


            <div class="mt-2">
              <div>
                <span>Domestic Shipping Price (JKT - JNE)</span>
              </div>
              <div>
                <strong>{{ formatCurrency(result.domestic_price) }}</strong>
              </div>
            </div>

            <div class="mt-2">
              <div>
                <span>Total Shipping Price</span>
              </div>
              <div>
                <strong>{{ formatCurrency(result.total_price) }}</strong>
              </div>
            </div>

          </div>
          <div class="card-body" v-else>
            <h4 class="d-flex justify-content-center">No data yet</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
