<!-- eslint-disable vue/multi-word-component-names -->
<script>
import { Authentication } from '../../src/service/http';

export default {
    data() {
        return {
            loading: false,
            email: "",
            password: "",
            error: []
        }
    },
    methods: {
        FormCheck() {
            if ( this.email && this.password) {
                this.error = [];
                return this.Login();
            }
            this.error = [];

            if (!this.email) {
                this.error.push('Email required.');
            }
            if (!this.password) {
                this.error.push('Password required.');
            }
        },
        Login: async function () {
            this.loading = true;
            const payload = {
                'username' : this.email,
                'password' : this.password
            }
            const res = await Authentication(payload)
            console.log(res)
            if (res.status) {
                window.location.href = '/'
            }
            if (res.response.status == 401) {
                this.error.push(res.response.data.detail)
            }
            this.loading = false
        }
    }
}
</script>

<template>
  <div class="container mt-5 d-flex justify-content-center">
      <div class="card w-50">
            <div class="card-header">
                <h5 class="d-flex justify-content-center">Login</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-danger"
                    v-if="error.length"
                    color="#B71C1C"
                    >
                    <b>Please correct the following error(s):</b>
                    <ul>
                    <li v-for="err in error" :key="err">{{ err }}</li>
                    </ul>
                </div>
                <div class="row d-flex">
                    <div class="col-12">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="mt-3">
                                    <label for="">Email / Username</label>
                                    <div class="mt-3">
                                        <input v-model="email" type="email" required class="form-control">
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label for="">Password</label>
                                    <div class="mt-3">
                                        <input v-model="password" type="password" required class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="mt-3">
                            <div class="d-flex justify-content-center">
                                <button type="click" @click="FormCheck" class="btn btn-primary">Login</button>
                            </div>
                            <div class="mt-3 d-flex justify-content-center">
                                <small>Tidak Punya Akun? <a href="/register">Sign Up</a></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
